body
  color #333
  background-color #333
  font-family Arial
  font-size 16px

h1
  font-weight bold
  font-size 50px

h2
  font-weight bold
  font-size 32px

code
  font-family Monospace
  font-weight bold
  font-size 120%

#content 
  width 900px
  margin 0 auto
  &> section
    background-color #9FA
    //border-radius 10px
    padding 25px

#list li
  background-color #6FF
  border solid 1px rgba(0,0,0,0.6)
  padding 5px
  border-radius 5px

.megaspace
  letter-spacing 25px
  text-transform uppercase

.subtitle
  color #898
  font-style italic
  font-size 24px

.box
  display inline-block
  width 50px
  height 50px
  background-color #6FF
  border-radius 5px
  border solid 1px rgba(0,0,0,0.6)
