/*********************************************
  S P A C E D   O U T
  A css micro-framework for evenly spacing elements
 *********************************************/
/*********************************************
 * TEST
 *********************************************/
.space-h > * {
  margin-right: 20px;
}
.space-h > *:last-child {
  margin-right: 0;
}
.space-h5 > * {
  margin-right: 5px;
}
.space-h5 > *:last-child {
  margin-right: 0;
}
.space-v > * {
  margin-bottom: 20px;
}
.space-v > *:last-child {
  margin-bottom: 0;
}
.space-v5 > * {
  margin-bottom: 5px;
}
.space-v5 > *:last-child {
  margin-bottom: 0;
}
.space-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.space-list > * {
  margin-right: 20px;
}
.space-list > *:last-child {
  margin-right: 0;
}
.space-list> li {
  display: inline-block;
}
