/*********************************************
  S P A C E D   O U T
  A css micro-framework for evenly spacing elements
 *********************************************/

space-out(space, margin-side)
  & > *
    add-property(margin- + margin-side, space)
    &:last-child
      add-property(margin- + margin-side, 0)

space-h(space = 20px)
  space-out(space, right)

space-v(space = 20px)
  space-out(space, bottom)

space-list()
  space-h()
  &ul, &ol
    list-style none
    margin 0
    padding 0
  &> *
    display inline-block
