/*********************************************
  S P A C E D   O U T
  A css micro-framework for evenly spacing elements
 *********************************************/

defaultspace = 20px

space-out(space, margin-side)
  & > *
    margin-{margin-side} space
    &:last-child
      margin-{margin-side} 0

space-h(space = defaultspace)
  space-out(space, right)

space-v(space = defaultspace)
  space-out(space, bottom)

space-list(space = defaultspace)
  space-h(space)
  list-style none
  margin 0
  padding 0
  &> li
    display inline-block


/*********************************************
 * TEST
 *********************************************/

.space-h
  space-h()

.space-h5
  space-h(5px)

.space-v
  space-v()

.space-v5
  space-v(5px)

.space-list
  space-list()
